.Pokecard{
    padding: 0px 10px;
    margin-bottom: 10px;
}

.Pokecard .Pokecard-name{
    color:blue;
    padding-top: 5px;
    font-size:large;
    font-weight: bold;
    margin-bottom: 0;
}

.Pokecard-inner{
    background-color:rgb(196, 196, 196);
    border-radius: 25px;
    padding: 3px;
    animation: fade-in ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Pokecard-inner:hover{
    box-shadow: inset 0 0 0 4px green;
}

.Pokecard-type{
    margin: 0px;
    font-size: small;
}

.Pokecard-exp{
    font-size: small;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


